/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Estilos globais */
body {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

/* Estilo geral do header */
header {
  background: linear-gradient(to right, #1b8cbc, #69d6de);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 75px;
  z-index: 2;
  margin: 50px 70px 0px 70px;
  border-radius: 15px;
}

main {
  padding-top: 80px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: azure;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
  background-color: azure;
}

nav a:hover::after {
  width: 100%;
}

.logo_img {
  width: 150px;
  cursor: pointer;
  margin-top: 1rem;
}

.img_menu {
  display: none;
}

.close_btn {
  display: none;
}
/* Estilos do main */
main {
  padding: 45px;
  margin-top: 80px;
}

main h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
}

/* Estilos do footer */
footer {
  border: 1px solid #1b8cbc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 2rem 2rem;
}

.listFooterTitle {
  font-weight: 450;
  font-size: 1.3rem;
  color: rgb(83, 83, 83);
}

.footerLink {
  font-size: 0.8rem;
  font-weight: 350;
  text-decoration: none;
  color: black;
}

.listFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  height: 180px;
  width: 415px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footerIcon {
  width: 20px;
}

.footerSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 250px;
}

/* Responsividade */
@media (max-width: 1125px) {
  #sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .content {
    width: auto;
  }
}

@media (max-width: 915px) {
  #mapa {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 761px) {
  .img_menu {
    display: block;
    width: 50px;
    margin-right: 1rem;
  }

  .nav {
    display: none;
  }

  .nav a {
    font-size: 1.3rem;
    color: black;
    padding: 10px 8px 8px 8px;
  }



  .nav a:hover {
    color: #1b8cbc;
  }

  .img_menu:checked ~ nav {
    left: 0;
  }

  .open {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index: 9999;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
  }
}

@media (max-width: 686px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  footer:nth-child(2) {
    order: 1;
  }

  .listFooter {
    height: auto;
  }
}

@media (max-width: 500px) {
  .img_grupo, .img_sobre {
    width: 400px;
  }

  .titulo-sobre::after {
    width: 25%;
  }
}

@media (max-width: 425px) {
  .img_grupo, .img_sobre, .img_mapa {
    width: 350px;
  }

  .footerLink {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .titulo-sobre::after {
    width: 50%;
  }
}

/* Estiliza a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #cacaca;
}

/* Estiliza a parte deslizante da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #049ce4;
  border-radius: 6px;
}

/* Estiliza a parte deslizante da barra de rolagem quando está sendo ativa */
::-webkit-scrollbar-thumb:hover {
  background: #1b8cbc;
}