* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1.5rem;

}
/* Estilo geral do header */
header {
  background: linear-gradient(to right,#1b8cbc, #69d6de);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 80px;
  position: fixed;
  width: 100%;
  
}

main{
  padding-top: 80px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: azure;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
  background-color: azure;
}

nav a:hover::after {
  width: 100%;
}

.logo_img {
  width: 150px;
  cursor: pointer;
  margin-top: 1rem;
}

.img_menu {
  display: none;
}

/* SECTION ID */
#sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem;
}

.img_sobre, .img_grupo {
  width: 500px;
  margin: 0px 0.7rem; 
}



/* SECTION INFO DO GRUPO */

#grupo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem;
}


/* SECTION DO MAPA */
#mapa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem;
}


.img_mapa {
  width: 400px;
}

/* Container para centralizar o conteúdo */


/* Logo do Airbnb
.logo {
  display: inline-block;
}

.logo img {
  width: 150px;
  /* Ajusta a largura do logo */
  /* height: auto; */
  /* Mantém a proporção da altura */
/* } */

/* Menu de usuário (sem links) */
.user-menu {
  display: inline-block;
}

.user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu li {
  display: inline-block;
  margin-right: 10px;
}

.recife-esquerdo,
.recife-direito {
  position: absolute;
  /* Posiciona as imagens de forma absoluta */
  top: 50%;
  /* Posiciona as imagens no meio vertical */
  transform: translateY(-50%);
  /* Compensa o deslocamento vertical */
}

.recife-esquerdo {
  left: 0;
  /* Posiciona a imagem à esquerda */
}

.recife-direito {
  right: 0;
  /* Posiciona a imagem à direita */
}

.recife-esquerdo img,
.recife-direito img {
  width: 100px;
  /* Ajuste a largura das imagens */
  height: auto;
  /* Mantém a proporção da altura */
}

/* SECTION QUIZ */
.container {
  max-width: 100%;
  /* Limita a largura do container */
  margin: 0 auto;
  /* Centraliza o container na tela */
  display: flex;
  /* Define layout flexbox */
  justify-content: center;
  /* Centraliza os itens na horizontal */
  align-items: center;
  /* Alinha os itens verticalmente no centro */
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  /* Alinha os itens verticalmente no centro */
}
.content{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

/* SECTION FOOTER */
/* SECTION FOOTER */
footer {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 2rem 2rem;
}


.listFooterTitle{
  font-weight: 350;
  font-size: 1.3rem;
  color: darkgrey;
}

.footerLink {
  font-size: 0.8rem;
  font-weight: 150;
  text-decoration: none;
  color: black;

}

.listFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  height: 180px;
  width: 415px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footerIcon {
  width: 20px;
}

.footerSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 250px;
}

/* BUTTON QUIZ */ 

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(.5, .7, .4, 1);
  cursor: pointer;
 }
 
 button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
 }
 
 button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
 }
 
 button:hover:before {
  transition: all .0s;
  transform: translateY(100%);
  opacity: 0;
 }
 
 button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
 }
 
 button:hover i {
  transition: all .2s ease;
  transform: translateY(0px);
  opacity: 1;
 }
 
 button:hover i:nth-child(1) {
  transition-delay: 0.045s;
 }
 
 button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
 }
 
 button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
 }
 
 /* button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
 }
 
 button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
 }
 
 button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
 }
 
 button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
 }
 
 button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
 }
 
 button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
 } */

@media (max-width: 915px) {
  #sobre , #grupo, #mapa {
    display: flex;
    flex-direction: column;
  }

  #grupo{
    flex-direction: column-reverse;
  }
}

@media (max-width: 761px) {
  .img_menu {
    display:block;
    width: 50px;
    margin-right: 1rem;
  }

  .nav {
    display: none;
  }

  .nav a {
    font-size: 1.3rem;
  }

  .nav a:hover {
    color: #1b8cbc;
  }

  .img_menu:checked ~ nav {
    left: 0;
  }

  .open {
    display: flex  ;
    position: fixed;
    top: 8vh;
    width: 100%;
    height: 200px;
    background-color: #2c3e50;
    left: 0;
    flex-direction: column;
    gap: 1.3rem;
    transition: all .5s;
    
  }

}

@media (max-width: 686px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  footer:nth-child(2) {
    order:1
  }

  .listFooter {
    height: auto;
  }
}


@media (max-width: 500px) {
  .img_grupo, .img_sobre {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .img_grupo, .img_sobre, .img_mapa {
    width: 350px;
  }

  .footerLink {
    width: 300px;
    text-align: center;
  }
}