* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

body {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1.5rem;
  max-width: 610px;
  padding: 3rem;
}

@media (max-width: 767px) {
  .titulo {
    font-size: 1.8rem;
  }
  .descrição {
    font-size: 1rem;
  }
}

.descrição {
  max-width: 768px;
}
.titulo {
  position: relative;
  display: inline-block;
}

#patrocinadores .content,
#quiz .content {
  padding: 20px;
  text-align: center;
}

.titulo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  border-bottom: 4px solid #69d6de;
}

.titulo-sobre {
  position: relative;
  display: inline-block;
}

.titulo-sobre::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  border-bottom: 4px solid #69d6de;
}
/* Estilo geral do header */
header {
  background: linear-gradient(to right, #1b8cbc, #69d6de);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 75px;
  z-index: 2;
  margin: 50px 70px 0px 70px;
  border-radius: 15px;
}

main {
  padding-top: 80px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: azure;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
  background-color: azure;
}

nav a:hover::after {
  width: 100%;
}

.logo_img {
  width: 150px;
  cursor: pointer;
  margin-top: 1rem;
}

.img_menu {
  display: none;
}

.close_btn {
  display: none;
}

/* SECTION ID */
#sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 4rem 3rem;
}

.img_sobre,
.img_grupo {
  width: 500px;
  margin: 0px 0.7rem;
}

/* SECTION INFO DO GRUPO */

#grupo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  padding: 4rem;
  flex-direction: column;
}

/* SECTION DO MAPA */
#mapa {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.img_mapa {
  width: 100%;
  height: auto;
}

#animações {
display: flex;
flex-direction: column;
align-items: center;
gap: 1.6rem;
}

#jogo {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.6rem;
}

/* SECTION PATROCINADORES */

#patrocinadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
}

.imgPatrocinadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgLogoPatrocinadores {
  width: 250px;
  height: 150px;
  fill: black;
}

/* Container para centralizar o conteúdo */

/* Logo do Airbnb
.logo {
  display: inline-block;
}

.logo img {
  width: 150px;
  /* Ajusta a largura do logo */
/* height: auto; */
/* Mantém a proporção da altura */
/* } */

/* Menu de usuário (sem links) */
.user-menu {
  display: inline-block;
}

.user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu li {
  display: inline-block;
  margin-right: 10px;
}

.recife-esquerdo,
.recife-direito {
  position: absolute;
  /* Posiciona as imagens de forma absoluta */
  top: 50%;
  /* Posiciona as imagens no meio vertical */
  transform: translateY(-50%);
  /* Compensa o deslocamento vertical */
}

.recife-esquerdo {
  left: 0;
  /* Posiciona a imagem à esquerda */
}

.recife-direito {
  right: 0;
  /* Posiciona a imagem à direita */
}

.recife-esquerdo img,
.recife-direito img {
  width: 100px;
  /* Ajuste a largura das imagens */
  height: auto;
  /* Mantém a proporção da altura */
}

/* SECTION QUIZ */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;

  /* Alinha os itens verticalmente no centro */
}

.content {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

/* SECTION FOOTER */
/* SECTION FOOTER */
footer {
  border: 1px solid #1b8cbc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 2rem 2rem;
}

.listFooterTitle {
  font-weight: 450;
  font-size: 1.3rem;
  color: rgb(83, 83, 83);
}

.footerLink {
  font-size: 0.8rem;
  font-weight: 350;
  text-decoration: none;
  color: black;
}

.listFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  height: 180px;
  width: 415px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footerIcon {
  width: 20px;
}

.footerSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 250px;
}

/* BUTTON QUIZ */

a {
  text-decoration: none;
}
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #049ce4;
  box-shadow: 0 0 0 2px #049ce4;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #049ce4;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #049ce4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: white;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #049ce4;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

@media (max-width: 1125px) {
  #sobre,
  #quiz {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .content,
  #container {
    width: auto;
  }
}

@media (max-width: 915px) {
  #mapa {
    display: flex;
    flex-direction: column;
  }

  /* #sobre {
    text-align: center;
  } */
}

@media (max-width: 761px) {
  .img_menu {
    display: block;
    width: 50px;
    margin-right: 1rem;
  }

  .nav {
    display: none;
  }

  .nav a {
    font-size: 1.3rem;
    color: black;
    padding: 10px 8px 8px 8px;
  }



  .nav a:hover {
    color: #1b8cbc;
  }

  .img_menu:checked ~ nav {
    left: 0;
  }

  .open {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index: 9999;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
  }

  /* header {
    position: fixed;
    margin-inline: 50px;
  } */
}

@media (max-width: 686px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  footer:nth-child(2) {
    order: 1;
  }

  .listFooter {
    height: auto;
  }
}

@media (max-width: 500px) {
  .img_grupo,
  .img_sobre {
    width: 400px;
  }
  .titulo-sobre::after {
    width: 25%;
  }
}

@media (max-width: 425px) {
  .img_grupo,
  .img_sobre,
  .img_mapa {
    width: 350px;
  }

  .footerLink {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .titulo-sobre::after {
    width: 50%;
  }
}


/* Estiliza a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem vertical */
  height: 6px; /* Altura da barra de rolagem horizontal */
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #cacaca; /* Cor de fundo da trilha da barra de rolagem */
}

/* Estiliza a parte deslizante da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #049ce4; /* Cor da parte deslizante */
  border-radius: 6px; /* Bordas arredondadas da parte deslizante */
}

/* Estiliza a parte deslizante da barra de rolagem quando está sendo ativa */
::-webkit-scrollbar-thumb:hover {
  background: #1b8cbc; /* Cor da parte deslizante quando o mouse passa sobre ela */
}
