/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

/* Estilos do header */
header {
  background: linear-gradient(to right,#1b8cbc, #69d6de);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo_img {
  width: 150px;
  cursor: pointer;
  margin-top: 1rem;
}

/* Estilos do main */
main {
  margin: 0;
  padding: 45px;
  margin-top: 80px; /* Adiciona uma margem superior igual à altura da header */
}

/* Estilo para o conteúdo dentro de main */
main h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
}

/* Estilos das perguntas */
.question {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.options {
  list-style-type: none;
  padding: 0;
}

.option {
  margin-bottom: 10px;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.option:hover {
  background-color: #f0f0f0;
}

.feedback {
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

/* Estilos dos botões de navegação */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#respostas {
  display: none;
  margin-top: 30px;
}

/* Estilos das opções de resposta corretas */
.option.correct {
  background-color: green;
  color: white;
  font-weight: bold;
}

/* Estilos das opções de resposta incorretas */
.option.incorrect {
  background-color: red;
  color: white;
  font-weight: bold;
}

/* Estilos para as imagens das perguntas */
.question img {
  max-width: 40%; /* Garante que a imagem não ultrapasse o contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Garante que a imagem fique centralizada horizontalmente */
  margin: 20px 10px; /* Espaçamento entre a imagem e as opções de resposta */
  justify-self:left;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

/* Estilos para o formulário do quiz */
#quiz-container {
  max-width: 800px; /* Define a largura máxima do quiz */
}

.quiz-container {
  width: calc(70% - 20px);
  padding: 20px;
  background: linear-gradient(to right,#1b8cbc, #69d6de);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navigation-container {
  width: calc(30% - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 100px; /* Ajuste para manter a barra de navegação fixa abaixo do header */
}

/* Estilos para a lista de perguntas */
.question-list {
  width: 100%; /* Ocupa toda a largura disponível */
}

.question-list ol {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas com largura igual */
  gap: 10px; /* Espaçamento entre os itens */
  margin-bottom: 20px;
}

.question-list ol li {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between; /* Espaça os botões igualmente */
}

.navigation-buttons button {
  flex: 1; /* Distribui o espaço disponível igualmente entre os botões */
  margin: 0 5px; /* Margem entre os botões */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #45a049;
}